<h4 style="text-align: center">
    I feel very   <mat-icon aria-hidden="false">insert_emoticon</mat-icon> to create this small application. Hope you may <mat-icon aria-hidden="false">thumb_up</mat-icon> the application.
</h4>
<h4  style="text-align: center">Watch random dog pics. Made with love for dog lovers. Search by different breeds.Smile and enjoy. Stay happy and keep smiling</h4>
<div class='container'>
    <br><b>Made By :</b> Ayush Sharma
    <br><b>About Developer :</b><span> Myself Ayush Sharma, I am a Front End Developer in a Leading MNC.
    I love to work on Front End Technologies like Angular,React,Javascript,Jquery,Bootstrap,Angular Material
    This is one of my personal project which i like to develop to enhance my skills.</span>
    <br><b>Email :</b> ayush89able@gmail.com
    <br><a style="color: black" href="https://www.linkedin.com/in/ayush-sharma-21448b129/"><b>Click here to visit my LinkedIn</b></a> 
    <br><a style="color: black" href="https://github.com/ayush89able"><b>Click here to visit my Github</b></a> 
</div>
