.img-dog{
    width: 350px;
    height: 350px;
    border:1px solid black;
    transition: 1s;
    border-radius: 10px;
}
.img-dog:hover{
    width: 350px;
    height: 350px;
    border:1px solid black;
    border-radius: 10px;
    transform: scale(1.2);
}